body{
    margin: 0px;
    padding: 0px;
    background-image: radial-gradient(#c7c7c7 25%, #c7c7c7 74%);
    font-family: system-ui;
}

.clearfix{
    clear: both;
}

.principal{
    height: 1150px;
    width: 800px;
    background-color: white;
    box-shadow: 5px 7px 15px 5px #b9b6b6;
    margin: 20px auto;
}

.topo{
    background-color: cadetblue;
    text-align: center;
    padding: 20px;
}

.foto{
    width: 150px;
    border-radius: 50%;
    border: 2px solid black;

}

.nome{
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
}
.nome span{
    font-weight: 100;
    color: black;
}

.subtitulo{
    font-size: 20px;
    color: black;
    margin: 0px;
    margin-top: 10px;
}

.coluna_esquerda{
    width: 35%;
    float: left;
}
.coluna_direita{
    width: 62%;
    float: left;
}

.line{
    border-left: 2px solid cadetblue;
    height: 800px;
    width: 2%;
    margin-top: 30px;
    float: left;
}

.conteudo{
    padding: 20px;
}

.head{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.p3{
    color: rgb(49, 49, 49);
    margin-bottom: -5px;
    position: relative;
    top: -10px;
    text-align: justify;
}

.lista{
    margin-left: -20px;
    margin-bottom: 0px;
    position: relative;
    top: -30px;
}
.lista li{
    padding: 5px;
}
.lista li span{
    color: rgb(49, 49, 49);
}

.p4{
    font-size: 14px;
    color: rgb(49, 49, 49);
    font-size: 14px;
}

.redes{
    width: 80px;
    height: 80px;
    position: relative;
    top: 10px;
}

hr{
    position: relative;
    top: -20px;
}

.ajustarposi{
    position: relative;
    top: -30px;
}

.redes:hover{
    transform: translateY(10px) scale(1.5);
}